[data-formid~="f649a87b76fb4a15b11025be3f339759-aue"] {
    background-color: rgb(82, 102, 90);
    padding: 40px 20px;

    .button-component {
        padding: 0 16px;
        margin-top: 20px;
    }
}
